# Prisma
DATABASE_URL=

# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Mail provider
RESEND_API_KEY=

# Auth Providers
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID="
GOOGLE_CLIENT_SECRET="

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

# Files storage provider
BLOB_READ_WRITE_TOKEN=

# AI
NUXT_AI_GATEWAY_API_KEY=
ANTHROPIC_API_KEY=

# Enable bor dev
INNGEST_DEV=1

# Payment provider keys
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

