# Prisma
DATABASE_URL=

# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Mail provider
RESEND_API_KEY=

# Auth Providers
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID="
GOOGLE_CLIENT_SECRET="

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

# Files storage provider
BLOB_STORE_ID=
BLOB_READ_WRITE_TOKEN=

# AI
ANTHROPIC_API_KEY=

# Payment provider keys
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Enable inngest dev mode
INNGEST_DEV=1

# Website base url
NUXT_PUBLIC_SITE_URL=
